<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class="navbar navbar-header navbar-expand navbar-light bg-white-info sticky-top" th:fragment="header"><!--header
    <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>-->
        <h1 style="vertical-align: middle;"> Edible Dogs    </h1>
        <!--
        <img src="https://cdn.pixabay.com/photo/2016/04/07/18/57/silhouette-1314467_960_720.png"
             style='height: 100%; width: 100%; object-fit: contain'>-->

        <div class="text-dark text-end float-end" id="navbarSupportedContent"
             style="margin-left: auto; margin-right: 0;">
            <div class="d-none d-md-block d-lg-inline-block">Aren't you hungry for Dogs?</div>
            <div class="avatar me-1">
                <img src="https://cdn.pixabay.com/photo/2016/04/07/18/57/silhouette-1314467_960_720.png" alt="" srcset="">
            </div>
        </div>
</nav>
</body>
</html>
