<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
</nav>
    <nav class="navbar navbar-header navbar-expand navbar-light bg-white-info sticky-top" th:fragment="header">
        <div class="container-fluid">
            <a class="navbar-brand" href="home">
                <h1>Edible Dogs </h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="home">Home</a>
                    </li><!--
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item d-flex">
                        <a class="nav-link" href="#">Rechts</a>
                    </li> -->
                </ul>
                <div class="avatar me-1">
                    <a class="nav-link d-flex" href="dogs">Aren't you hungry for Dogs?</a>
                    <a href="dogs"> <img src="https://cdn.pixabay.com/photo/2016/04/07/18/57/silhouette-1314467_960_720.png"> </a>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>
