<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/standardLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="main-content container-fluid" layout:fragment="content">
    <section class="section">
        <div class="container">
            <div class="page-title">
                <h1 style="font-size:48px "> Edible Dogs</h1>
                <p class="text-subtitle text-muted">Our product is <span >cute and tender</span>. You should buy it.   </p>
            </div><!--
        <div class="row mb-2">
            <div class="col-12 col-md-3">
                <div class="card card-statistic">
                    <div class="card-body p-0">
                        <div class="d-flex flex-column">
                            <div class='px-3 py-3 d-flex justify-content-between'>
                                <h3 class='card-title'>BALANCE</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="card ">
                <div class="card-header">
                    <h4>Your Earnings</h4>
                </div>
                <div class="card-body">
                    <div class="text-center mb-5">
                        <h6>From last month</h6>
                        <h1 class='text-green'>+$2,134</h1>
                    </div>
                </div>
            </div>
        </div>
        </div>-->
        <div class="container">
        <div class="container-fluid"><!-- text-center bg-white-info p-2 text-dark-->
            <div>
                <h2>Why should I eat dogs?</h2>
                <p>You see dogs everywhere for example on the streets, on the internet, at your friends home or when you are looking in the mirror.
                    But don't you ask yourself sometimes, how they
                    <span style = "font-size: 20px;font-weight:600;"> taste?</span>
                </p>
            </div>

            <div>
                <p>Aren't you bored of just touching their skin?
                </p>
                <p>  Don't you like to feel them... in your mouth?
                </p>
                <p> Well if so, we are the ones who can help you out!!!
                </p>
            </div>


            <div>
                <h3>
                    Dogs are good for your health
                </h3>

                <p> Dog meat has a lot of important nutrients. That's why we recommend our meat
                </p>
                <p>for babies and vegetarian,especially for vegetarian they need the nutrient.
                </p>
            </div>
            <h4>Dog meat can heal diseases for example:</h4>
            <div>
                <ul>
                    <li>
                        <span> Celiac disease</span>

                    </li>
                    <li>
                        <span> Crohn's  disease</span>

                    </li>
                    <li>
                        <span>Alzheimer's disease</span>

                    </li>
                    <li>
                        <span>Asthma</span>

                    </li>
                    <li>
                        <span>Diabetes mellitus</span>

                    </li>
                    <li>
                        <span>all forms of cancer</span>

                    </li>

                </ul>
            </div>

            <h3>Our dog meat has high quality standards</h3>
            <p>Our meat is examined every minute and is very fresh. </p>
            <p> Here you can see a part of our stock:</p>

        </div>
        </div>

        <div id="dogCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                    <div th:each="dogImage : ${dogImages}" class="carousel-item" name="dogImg">
                        <img th:src="${dogImage}" class="img-fluid rounded mx-auto
                            d-block w-100">
                    </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <script>
        var setFirstElementActive = (function(){
            var func = function(){
            document.querySelector('[name="dogImg"]').classList.add("active");
            };
            func();
            return func;
         })();
        </script>
        <!--SALES-->
            <p> </p>
        <h3>
            Animal Cruelty?
        </h3>
        <p>You might ask yourself, if putting a dog in these clothes isn't animal cruelty...  </p>

        <h4 class="fst-italic">Well yes ...but everything else is fine :D
        </h4>
        </div>
    </section>
</div>
</div>
</div>
</div>
</section>
</body>
</html>